footer {
	padding: 1rem 0 1.5rem;
	margin-top: 3rem;
	background-color: #202020;
	color: #ebebeb;
	font-size: var(--body-font-size-s);
}

footer .footer {
	max-width: 1200px;
	margin: auto;
}

footer .footer p {
	margin: 0;
}
